<div class="friend_list">
  <% @friend_list_img.each do |image| %>
  <%= image_tag "#{image}" %>
  <% end %>
</div>

<!-- Need a friend -->

<div class="chat-part">
  <% @chatting_friends.each do |friend| %>
    <%= render "chatbox", friend: friend%>
  <% end %>
</div>




<div class="nav-bar">
  <div class="user-profile">
    <% if current_user.profile_url.present? %>
    <%= image_tag current_user.profile_url %>
    <% else %>
    <%= image_tag "avatar.png" %>
    <% end %>
  </div>
  <div class="newsfeed-btn">
    <%= link_to image_tag("news_feed.png"), users_path  %>
  </div>
  <div class="messages-btn">
    <%= link_to image_tag("messages.png"), messages_path, style: "filter: invert(80%)" %>
    
    
    
  </div>
</div>