<div class="post-box column is-10 is-paddingless">
    <div class="post-inside">
      <div class="post-header is-12">
        <div class="blank-part"></div>
        <div class="color-part">
          <%= post.author.name %>
        </div>
        <%= image_tag post.author.profile_url %>
      </div>
      <div class="anything">
        <div class="post-content">
          <div class="post-text column is-10">
            <%= post.body %>
          </div>
          
          <div class="post-img column is-10">
            <%= image_tag "sample_post_img.jpg" %>
          </div>
          
        </div>
        
        <div class="post-controller is-2">
          <%= link_to "LIKE", users_path, class: "button is-primary" %>
          <%= link_to "SHARE", users_path, class: "button is-primary" %>
        </div>
      </div>
      
    </div>
    
  </div>