<div class="friend_list">
  <% @friend_list_img.each do |image| %>
  <%= image_tag "#{image}" %>
  <% end %>
</div>

<div class="nav-bar">
  <div class="user-profile">
    <% if current_user.profile_url.present? %>
    <%= image_tag current_user.profile_url %>
    <% else %>
    <%= image_tag "avatar.png" %>
    <% end %>
    
  </div>
  <div class="newsfeed-btn">
    <%= link_to image_tag("news_feed.png"), users_path, style: "filter: invert(80%)"  %>
  </div>
  <div class="messages-btn">
    <%= link_to image_tag("messages.png"), messages_path  %>
    
  </div>
</div>

<div class="friend_list">
  <% @friend_list_img.each do |image| %>
  <%= image_tag "#{image}" %>
  <% end %>
</div>


<!-- MAIN PART IS HERE -->
<div class="posts">
  
  <div class="post-part columns">
    <div class="white-part column is-8 ">
      <article style="margin-bottom: 20px; margin-top: 20px;" class="media column is-10 please-centered">
        <figure class="media-left">
          <p class="image is-64x64">
            <% if current_user.present? %>
              <% if current_user.profile_url.present? %>
                <%= image_tag current_user.profile_url %>
              <% else %>
                <%= image_tag "avatar.png" %>
              <% end %>
            <% end %>
          </p>
        </figure>
        
        <div class="media-content">
          
          <div class="field">
            <%= form_tag posts_path do %>
            <p class="control">
              <%= text_area_tag :body, nil, placeholder: "Enter a new post", class:"textarea" %>
              <%= hidden_field_tag :author_id, current_user.id %>
              <%= hidden_field_tag :wall_id, current_user.id %>
            </p>
          </div>
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <%= submit_tag "POST", class: "button is-primary" %>
              </div>
            </div>
            <% end %>
          </nav>
        </div>
      </article>
      
      
      <% @newsfeed_posts.each do |post| %>
      <%= render "post", post: post %>
      <% end %>
    </div>
    <div class="black-part column is-4"></div>
    
  </div>
</div>