<%= form_for @post do |f| %> 
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Add new post</label>
      <div>
        <img src="assets/avatar.png" height="64px" width="64px " alt="profile">
      </div>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= f.hidden_field :author_id, value: current_user.id %>
          <%= f.text_area :body, class: "textarea", placeholder: "Type what u wanna post" %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <!-- Left empty for spacing -->
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button class="button is-primary">
            Post
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render Post.all %>

<div class="nav-bar">
  <div class="user-profile">
    <%= image_tag current_user.profile_url %>
  </div>
  <div class="newsfeed-btn">
    <%= link_to image_tag("news_feed.png"), users_path  %>
  </div>
  <div class="messages-btn">
      <%= link_to image_tag("messages.png"), users_path  %>

  </div>
</div>

