<div class="friend_list">
  <% @friend_list_img.each do |image| %>
    <%= image_tag "#{image}" %>
  <% end %>
</div>

<div class="posts">
  <% @newsfeed_posts.each do |post| %>
    <div>
        <strong><%=  post.body  %></strong>
        <div><%="like_post: #{post.likes.count}"%></div>
      <% post.comments.each do |comment| %>
        <span><%=comment.body%></span><span><%=" like_comment: #{comment.likes.count}"%></span>
        
      <% end %>
    </div>
  <% end %>
</div>

