  <div class="post-part columns">
    <div class="white-part column is-7 ">
      <div class="post-box column is-10 is-paddingless">
        
        
        
        <div class="post-inside">
          <div class="post-header is-12">
            <div class="blank-part"></div>
            <div class="color-part">
              <%= User.first.name %>
            </div>
            <%= image_tag User.first.profile_url %>
          </div>
          <div class="anything">
            <div class="post-content">
              <div class="post-text column is-9">
                Spending 48 hours with this mini speaker. Everything is awesome. Though the sound is bad, the design is terrible, and no good reason to pick it up from the beginning.
              </div>
              
              <div class="post-img column is-9">
                <%= image_tag "sample_post_img.png" %>
              </div>
              
            </div>
            
            <div class="post-controller">
              <%= link_to "LIKE", test_path, class: "button" %>
              <%= link_to "SHARE", test_path, class: "button" %>
            </div>
          </div>
          
        </div>
        
        <div class="post-inside">
          <div class="post-header is-12">
            <div class="blank-part"></div>
            <div class="color-part">
              <%= User.first.name %>
            </div>
            <%= image_tag User.first.profile_url %>
          </div>
          <div class="post-content">
            <div class="post-text column is-9">
              Spending 48 hours with this mini speaker. Everything is awesome. Though the sound is bad, the design is terrible, and no good reason to pick it up from the beginning.
            </div>
            
            <div class="post-img column is-9">
              <%= image_tag "sample_post_img.png" %>
            </div>
            
          </div>
          
          <div class="post-controller">
            <%= link_to "LIKE", test_path, class: "button" %>
            <%= link_to "SHARE", test_path, class: "button" %>
          </div>
        </div>
        
        
        
        
        
        
        
      </div>
      
    </div>
    
    
    <div class="black-part column is-4"></div>
    
  </div>
  
  