
<div class="columns is-centered">
  
  <div class="column is-6 form-background">
    
    <div class="columns is-centered">
      <%= render "shared/match_image"%>
    </div>
    
    <div class="guide-text column is-centered is-8 "> 
      <h1 class="is-size-3">Add some friends to your list <br></h1> 
    </div>
    
    <div class="input-items columns is-centered">
      <div class="column is-8">
        <div class="friends-to-add">
          <% User.all.each do |user| %>
          
          <div class="adding-friend">
            <div class="friend-img">
              <% if user.profile_url.present? %>
              <%= image_tag user.profile_url %> 
              <% else %>
              <%= image_tag "avatar.png" %>
              <% end %>
            </div>
            <div class="friend-name"><%= user.name %></div>
            <% if Friendship.where(["user_id = ? and friend_id = ?", current_user.id, user.id]).present? %>
            <div class="toggle-friend-btn-remove">
              <%=link_to "Remove", friendships_path(user_id: current_user.id, friend_id: user.id), method: "post", class: "text-white-mini-btn" %>
            </div>
            <% else %>
            <div class="toggle-friend-btn-add">
              <%=link_to "Add", friendships_path(user_id: current_user.id, friend_id: user.id), method: "post", class: "text-black-mini-btn" %>
            </div>
            <% end %>
            
          </div>
          
          
          <% end %>
        </div>
      </div>
      
    </div>
    
    <div class="two-buttons column is-12">
      
      <%= link_to "GO", root_path, class: "right-btn button is-primary" %>
    </div>
    
  </div>
</div>
