<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

<div class="columns is-centered">
  
  <div class="column is-6 form-background">
    
    <div class="columns is-centered">
      <%= render "shared/match_image"%>
    </div>
    
    <div class="guide-text column is-centered is-8 "> 
      <h1 class="is-size-3">Sign in to connect with your friends</h1> 
    </div>
    
    <div class="input-items columns is-centered">
      <div class="column is-8">
        <div class="field">
          <div class="control">
            <%= f.email_field :email, class: "input input-box", placeholder: "Email" %>
          </div>
          <div class="control">
            <%= f.password_field :password, class: "input input-box", placeholder: "Password" %>
          </div>
        </div>
      </div>
      
    </div>
    
    <div class="two-buttons column is-12">
      
      <%= link_to "Sign up", new_user_registration_path, class: "left-btn button is-primary is-outlined" %>
      <%= f.submit "Sign in", class: "right-btn button is-primary"%>
    </div>
    
    
    
  </div>
</div>
<% end %>