<!DOCTYPE html>
<html>
<head>
  <title>Fukbay</title>
  <%= csrf_meta_tags %>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <div class="nav-bar">
        <%= link_to image_tag("logo.png"), root_path %>
        <div class="friend-list">
          
          <% @friend_list_img.each do |image| %>
          <% if image.present? %>
          <%= image_tag image %>
          <% else %>
          <%= image_tag "avatar.png" %>
          <% end %>
          <% end %>
        </div>
      </div>
  
  <div><%=link_to "Log out", destroy_user_session_path, method: "delete" %></div>

  
  <%= yield %>

</body>


</html>
