<!DOCTYPE html>
<html>
<head>
  <title>Fukbay</title>
  <%= csrf_meta_tags %>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
        <img src="/assets/logo.png" alt="">
      </a>
    </div>

    <div><%=link_to "Log out", destroy_user_session_path, method: "delete" %></div>
  </nav>
  
    <%= yield %>
</body>
</html>
